@import './styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-text));
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-text));
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

  *,
  ::before,
  ::after {
    border-color: rgb(var(--color-border) / 0.3);
    transition-property: background-color, border-color, color;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }
}
